<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>RegisterComplaint</servlet-name>
		<display-name>RegisterComplaint</display-name>
		<description></description>
		<servlet-class>com.servlets.RegisterComplaint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateStatusById</servlet-name>
		<display-name>UpdateStatusById</display-name>
		<description></description>
		<servlet-class>com.servlets.UpdateStatusById</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DisplayAllComplaint</servlet-name>
		<display-name>DisplayAllComplaint</display-name>
		<description></description>
		<servlet-class>com.servlets.DisplayAllComplaint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DisplayComplaintById</servlet-name>
		<display-name>DisplayComplaintById</display-name>
		<description></description>
		<servlet-class>com.servlets.DisplayComplaintById</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DisplayComplaintByTicketNo</servlet-name>
		<display-name>DisplayComplaintByTicketNo</display-name>
		<description></description>
		<servlet-class>com.servlets.DisplayComplaintByTicketNo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CloseStatusById</servlet-name>
		<display-name>CloseStatusById</display-name>
		<description></description>
		<servlet-class>com.servlets.CloseStatusById</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterComplaint</servlet-name>
		<url-pattern>/RegisterComplaint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStatusById</servlet-name>
		<url-pattern>/UpdateStatusById</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisplayAllComplaint</servlet-name>
		<url-pattern>/DisplayAllComplaint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisplayComplaintById</servlet-name>
		<url-pattern>/DisplayComplaintById</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisplayComplaintByTicketNo</servlet-name>
		<url-pattern>/DisplayComplaintByTicketNo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CloseStatusById</servlet-name>
		<url-pattern>/CloseStatusById</url-pattern>
	</servlet-mapping>
	
</web-app>
